.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  position: relative;
  height: 106px;
}
.header .menuIcon {
  z-index: 11;
  display: none;
}
.header .menuIcon span {
  transition: 0.1s;
}
@media (max-width: 1350px), (max-height: 870px) {
  .header .menuIcon {
    display: block;
    position: relative;
    height: 40px;
    cursor: pointer;
    width: 60px;
  }
  .header .menuIcon span {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #000000;
  }
  .header .menuIcon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .header .menuIcon span:last-child {
    bottom: 0;
  }
}

.headerLogo img {
  pointer-events: none;
}

@media (max-width: 410px) {
  .headerLogo img {
    max-width: 205px;
  }
  .header .menuIcon {
    scale: 0.8;
  }
}
.header .searchbar {
  display: flex;
  align-items: center;
  padding: 13px 35px 13px 30px;
  min-width: 55%;
  min-height: 80%;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 940px) {
  .header .searchbar {
    display: none;
  }
}
.header .searchbar input {
  position: absolute;
  height: 100%;
  font-size: 40px;
  width: 85%;
}
.header .searchbar .searchBtn {
  position: absolute;
  right: 0;
  padding-right: 30px;
  height: 100%;
  padding-left: 10px;
}

@media (max-width: 1560px), (max-height: 870px) {
  .header .searchbar {
    min-height: 60px;
  }
  .header .searchbar input {
    font-size: 25px;
  }
  .header .searchbar .searchBtn {
    padding-right: 15px;
  }
  .header .searchbar .searchBtn img {
    max-width: 70%;
  }
}
@media (max-width: 1350px) {
  .header .searchbar {
    min-width: 50%;
  }
}
.header .addRecipe {
  padding: 22px 52px;
  text-align: center;
}
.header .addRecipe img {
  pointer-events: none;
}
@media (max-width: 1350px), (max-height: 870px) {
  .header .addRecipe {
    display: none;
  }
}
