.form {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}
@media (max-width: 1350px), (max-height: 870px) {
  .form h2 {
    margin-bottom: 35px;
  }
}
.form select {
  background-color: transparent;
}
.form input[type*="text"],
.form select {
  width: 90%;
  font-size: 32px;
  padding: 5px;
}
.form input[type*="file"] {
  opacity: 0;
  scale: 0;
  position: absolute;
}
.form input[type*="submit"] {
  color: #fff;
  font-size: 36px;
  padding: 17px 25px 13px 25px;
}
.form .btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
.form .btns .addImg__field {
  display: inline-flex;
  position: relative;
  transform: translateX(250px);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  font-size: 36px;
  color: #fff;
  border-radius: 0 15px 15px 0;
  background-color: #ff5151;
  transition: 0.1s;
  max-width: 356px;
  margin-bottom: 66px;
}
.form .btns .addImg__field p {
  display: inline-block;
}
.form .btns .addImg__field img {
  max-height: 62px;
  margin-right: 23px;
}
.form .btns .addImg__field:hover {
  background-color: #fc2f2f;
}
.form .btns .addImg__field::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 550px;
  left: -550px;
  border-radius: 15px 0 0 15px;
  background-color: #fff;
  height: 100%;
  box-shadow: inherit;
}
@media (max-width: 1350px), (max-height: 870px) {
  .form .btns .addImg__field::after {
    display: none;
  }
}
@media (max-width: 1350px), (max-height: 870px) {
  .form .btns .addImg__field {
    transform: none;
  }
}
@media (max-width: 1350px), (max-height: 870px) {
  .form .btns {
    flex-direction: row-reverse;
    align-items: center;
  }
  .form .btns .addImg__field {
    margin: 0;
  }
}
@media (max-width: 1350px), (max-height: 870px) {
  .form input {
    margin-bottom: 50px;
    max-width: 100%;
  }
  .form input:last-child {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .form .btns {
    flex-direction: column;
  }
  .form .btns .addImg__field {
    margin-bottom: 50px;
    font-size: 25px;
  }
  .form .btns input[type*="submit"] {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .form .btns .addImg__field {
    font-size: 20px;
  }
  .form .btns .addImg__field img {
    max-width: 45px;
  }
  .form .btns input[type*="submit"] {
    font-size: 20px;
  }
}
