@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.btn {
  border-radius: 15px;
  background-color: #ff5151;
  transition: 0.1s;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: #fc2f2f;
}

body {
  background-color: #ebf8ff;
  overflow: hidden;
  height: 100vh;
}
@media (max-width: 1350px), (max-height: 870px) {
  body {
    overflow: auto;
  }
}

a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

#root {
  max-width: 2000px;
  display: grid;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  max-height: 1200px;
  padding: 15px;
  height: inherit;
  grid-template-rows: 106px;
  grid-template-columns: 350px;
  grid-template-areas: "header header" "aside content";
}
@media (max-width: 1350px), (max-height: 870px) {
  #root {
    grid-template-columns: 0 1fr;
    grid-template-rows: 66px;
    padding: 5px 15px;
  }
}

.add-recipe_mobile,
.search-recipe_mobile {
  display: none;
  text-align: center;
  padding: 10px;
}
@media (max-width: 1350px), (max-height: 870px) {
  .add-recipe_mobile,
  .search-recipe_mobile {
    display: block;
  }
}

@media (max-width: 800px) {
  .content {
    padding: 10px;
  }
}
